/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

.search-form {
  width: 371px;
  margin: 16px auto;
}

.form-input {
  display: inline-block;
  width: 272px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
  padding: 8px 16px;
  outline: 0px solid transparent;
  transition: border liner 250ms;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form-input:hover {
  border: 1px solid rgb(0, 0, 0);
}

.form-input:focus-within {
  border: 1px solid rgb(78, 117, 255);
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 8px;
  padding: 8px 16px;
  border: 0px solid transparent;
  color: #fff;
  background-color: #4e75ff;
  transition: background-color linear 250ms;
}

.btn:hover {
  background-color: #6c8cff;
}

.load-more-btn {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gallary {
  width: 1128px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallary-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallary-image {
  width: 100%;
  height: 152px;
  object-fit: cover;
  object-position: center;
}

.info-list {
  display: flex;
  padding: 4px 20px;
  gap: 28px;
}

.info-list-item {
  width: calc((100% - 84px) / 4);
}

.list-item-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.list-item-info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.loader {
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.scroll-top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4e75ff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  fill: #fff;
  transition: background-color linear 250ms;
}
.scroll-top:hover {
  background-color: #6c8cff;
}
